<div class="display-6">
    <h5>In so time register:</h5>
    <div class="table-bordered">
        <a class="nav-link" href="{{ path('add_info') }}">Truck: {{ truck }}<span
                    class="sr-only">(current)</span></a>
    </div>
    <div class="table-bordered">
        <a class="nav-link" href="{{ path('add_info') }}">Trailer: {{ trailer }}<span
                    class="sr-only">(current)</span></a>
    </div>
</div>
